.p-button {
    margin: 0 0 0 6rem;
    padding: 0;
}

.container,
h3 {
    margin-left: 20px;
}

.description,
.rating,
.price,
.brand,
.category {
    margin-left: 5px;
}

.discount,
.p-buttonsm {
    margin-left: 20px;
}