
<div class="container">
    <div *ngFor="let data of productArray, index as i">
        <p-card [style]="{ width: '320px',height:'570px' }">
            <ng-template pTemplate="header">
                <h3>{{data.brand}}</h3>
                <a (click)="imageCart(i)"><img src="{{data.thumbnail}}" alt="" width="200px" height="180px"></a><br>
            </ng-template>
            <p class="description"><b>Description : </b>{{data.description}}</p>
            <p class="rating"> <b>Rating : </b>{{data.rating}}
                <span class="stock"><b>Stock : </b>({{data.stock}})</span>
            </p>
            <p class="price"><b>Price : </b> {{data.price | currency}}
                <span class="discount"><b>Discount : </b>{{data.discountPercentage}} % </span>
            </p>
            <span class="category"><b>Category : </b>{{data.category}} </span> 
            <p class="category"><b>Brand : </b>{{data.brand}} </p>
        </p-card>
    </div>
</div>